Repository samtmorgan/word-byte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc-files --noEmit

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{ts,tsx}": "tsc-files --noEmit"
}

add user context
  src/providers/UserProvider.test.tsx
  src/providers/UserProvider.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor new-word-list page
  src/app/globals.css
  src/app/new-word-list/page.tsx
  src/app/word-settings/page.tsx
  src/components/pageComponents/WelcomeContent.tsx
  src/components/pageComponents/WordSettingsContent.tsx
  src/constants/constants.ts
  src/constants/paths.ts
  src/providers/UserProvider.test.tsx
  src/providers/UserProvider.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

add AddWordForm component
  src/app/globals.css
  src/components/addWordForm/AddWordForm.test.tsx
  src/components/addWordForm/AddWordForm.tsx
  src/components/index.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor AddWordForm
  src/app/globals.css
  src/components/addWordForm/AddWordForm.test.tsx
  src/components/addWordForm/AddWordForm.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

WordList tests
  src/components/wordList/WordList.test.tsx
  src/components/wordList/WordList.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor button css
  src/app/globals.css
  src/app/new-word-list/page.tsx
  src/app/settingsWords/page.tsx
  src/app/test/page.tsx
  src/components/header/Header.tsx
  src/components/review/__snapshots__/Review.test.tsx.snap
Due: eslint --fix, prettier --write, tsc-files --noEmit

big refactor
  jest.config.js
  package-lock.json
  package.json
  src/app/globals.css
  src/app/settingsWords/page.test.tsx
  src/app/settingsWords/page.tsx
  src/app/test/page.test.tsx
  src/app/test/page.tsx
  src/components/button/Button.test.tsx
  src/components/button/Button.tsx
  src/components/error/Error.tsx
  src/components/error/__snapshots__/Error.test.tsx.snap
  src/components/header/Header.module.css
  src/components/header/Header.test.tsx
  src/components/header/Header.tsx
  src/components/index.ts
  src/components/loader/Loader.tsx
  src/components/pageComponents/WelcomeContent.tsx
  src/components/review/Review.module.css
  src/components/review/Review.tsx
  src/components/review/__snapshots__/Review.test.tsx.snap
  src/components/review/components/Complete.module.css
  src/components/review/components/Complete.tsx
  src/components/review/components/InProgress.module.css
  src/components/review/components/InProgress.tsx
  yarn.lock
Due: eslint --fix, prettier --write, tsc-files --noEmit

tidy up a load of CSS
  src/app/globals.css
  src/app/new-word-list/page.module.css
  src/app/new-word-list/page.tsx
  src/app/test/page.test.tsx
  src/app/test/page.tsx
  src/components/addWordForm/AddWordForm.module.css
  src/components/addWordForm/AddWordForm.tsx
  src/components/wordList/WordList.module.css
  src/components/wordList/WordList.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

make the remove word button smaller
  src/components/wordList/WordList.module.css
Due: none

add functionality to add words to user data
  src/actions/addWordList.test.ts
  src/actions/addWordList.ts
  src/actions/updateUserWordsAndWordSets.test.ts
  src/actions/updateUserWordsAndWordSets.ts
  src/app/new-word-list/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

create modal component
  package-lock.json
  package.json
  src/app/globals.css
  src/app/new-word-list/page.tsx
  src/components/modal/Modal.jsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, tsc-files --noEmit

remove unused Loader component and AppContext
  package.json
  src/components/loader/Loader.tsx
  src/context/AppContext.tsx
  src/testUtils/renderWithContext.tsx
  yarn.lock
Due: eslint --fix, prettier --write, tsc-files --noEmit

skip tests for getUser and updateUserWords actions; add environment variable check for MongoDB connection
  src/actions/getUser.test.ts
  src/actions/updateUserWords.test.ts
  src/actions/updateUserWordsAndWordSets.test.ts
  src/lib/mongoDB.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

add autoCapitalize attribute to input in AddWordForm component
  src/components/addWordForm/AddWordForm.tsx
  src/types/global.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, tsc-files --noEmit

change the delete word icon
  src/components/addWordForm/AddWordForm.tsx
  src/components/wordList/WordList.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

add timeout to confetti
  src/components/confetti/Confetti.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

Fix React Server Components CVE vulnerabilities
  package.json
Due: none

chore: git claude te goodies
  .github/workflows/claude.yml
Due: none

chore/fix formatting
  package.json
  src/utils/wordSelection.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: formatting
  src/actions/initUser.ts
  src/constants/words.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add mandatory workflow guidelines and Claude Code local settings
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: none

chore: fix formatting test: fix and improve coverage
  src/actions/getAutoWords.ts
  src/app/test/page.tsx
  src/components/review/Review.test.tsx
  src/components/review/__snapshots__/Review.test.tsx.snap
  src/components/review/components/Complete.test.tsx
  src/components/review/components/InProgress.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: update pre-commit and pre-push hooks to use yarn lint and yarn test
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: upgrade ESLint to 8.57.1 and fix allowed_tools for Claude GitHub Action
  .eslintrc.json
  .github/workflows/claude.yml
  package.json
  yarn.lock
Due: none

feat: add progress dashboard with tabs for word set groups
  .eslintrc.json
  package.json
  src/app/new-word-list/page.tsx
  src/app/test/page.tsx
  src/components/dashboard/Dashboard.module.css
  src/components/dashboard/Dashboard.tsx
  src/components/pageComponents/WelcomeContent.tsx
  src/utils/dashboardStats.test.ts
  src/utils/dashboardStats.ts
  src/utils/wordSelection.test.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: use npx for jest script to resolve binary in worktree environments
  package.json
Due: none

feat: add data version flag to reset stale user word data on login
  src/actions/createUser.ts
  src/actions/initUser.ts
  src/actions/types.ts
  src/actions/updateAutoWordSet.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: append new platform words to existing users on login
  src/actions/initUser.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: enhance auto configuration with user word inclusion and update UI components
  src/actions/autoWordUtils.ts
  src/actions/createUser.test.ts
  src/actions/initUser.test.ts
  src/actions/types.ts
  src/actions/updateAutoConfig.ts
  src/app/globals.css
  src/components/pageComponents/WelcomeContent.module.css
  src/components/pageComponents/WelcomeContent.test.tsx
  src/components/pageComponents/WelcomeContent.tsx
  src/testUtils/mockData.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: implement tabbed interface for user mode selection and enhance dashboard layout
  src/app/globals.css
  src/components/dashboard/Dashboard.module.css
  src/components/dashboard/Dashboard.tsx
  src/components/pageComponents/WelcomeContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix linting
  src/components/navDrawer/NavDrawer.tsx
  src/components/pageComponents/MyWordsContent.tsx
  src/components/pageComponents/WelcomeContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: update Header test for multiple SignedIn instances and exclude test files from tsc-files pre-commit check
  .lintstagedrc
  .lintstagedrc.cjs
  src/components/header/Header.test.tsx
  src/components/navDrawer/NavDrawer.module.css
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: ensure ReactModal app element is set only in browser environment
  src/components/modal/Modal.jsx
Due: eslint --fix, prettier --write

refactor: update auto word set logic and enhance header layout
  src/actions/addTestResults.ts
  src/actions/autoWordUtils.ts
  src/actions/getAutoWords.ts
  src/actions/updateAutoConfig.ts
  src/components/header/Header.module.css
  src/components/header/Header.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add Word Lists feature with create, delete, and promote functionalities
  src/actions/createWordList.ts
  src/actions/deleteWordList.ts
  src/actions/promoteWordList.ts
  src/app/word-lists/page.tsx
  src/components/navDrawer/NavDrawer.tsx
  src/components/pageComponents/WordListsContent.module.css
  src/components/pageComponents/WordListsContent.tsx
  src/constants/paths.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: implement page title display and enhance header layout for better navigation
  src/app/Main.tsx
  src/app/test/page.test.tsx
  src/app/test/page.tsx
  src/components/header/Header.module.css
  src/components/header/Header.tsx
  src/components/pageComponents/MyWordsContent.test.tsx
  src/components/pageComponents/MyWordsContent.tsx
  src/components/pageComponents/WelcomeContent.tsx
  src/components/pageComponents/WordListsContent.module.css
  src/components/pageComponents/WordListsContent.tsx
  src/components/pageTitle/PageTitleDisplay.module.css
  src/components/pageTitle/PageTitleDisplay.tsx
  src/components/pageTitle/PageTitleHeading.module.css
  src/components/pageTitle/PageTitleHeading.tsx
  src/constants/index.ts
  src/constants/pageTitles.ts
  src/constants/paths.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: change greeting from paragraph to heading for better visibility
  src/components/pageComponents/WelcomeContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: enhance manual practice link with disabled state and user guidance
  src/components/pageComponents/WelcomeContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add initialAutoWordSet prop to WordListsContent and update logic for handling word lists
  src/app/word-lists/page.tsx
  src/components/pageComponents/WordListsContent.module.css
  src/components/pageComponents/WordListsContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit
