Repository samtmorgan/word-byte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc-files --noEmit

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{ts,tsx}": "tsc-files --noEmit"
}

feat: add Zod input validation and structured error returns to all server actions
  package.json
  src/actions/actionResult.test.ts
  src/actions/actionResult.ts
  src/actions/addTestResults.test.ts
  src/actions/addTestResults.ts
  src/actions/addUserWord.test.ts
  src/actions/addUserWord.ts
  src/actions/addWordList.test.ts
  src/actions/addWordList.ts
  src/actions/createWordList.test.ts
  src/actions/createWordList.ts
  src/actions/deleteUserWord.test.ts
  src/actions/deleteUserWord.ts
  src/actions/deleteWordList.test.ts
  src/actions/deleteWordList.ts
  src/actions/promoteWordList.test.ts
  src/actions/promoteWordList.ts
  src/actions/schemas.test.ts
  src/actions/schemas.ts
  src/actions/types.ts
  src/actions/updateAutoConfig.test.ts
  src/actions/updateAutoConfig.ts
  src/actions/updateUserMode.test.ts
  src/actions/updateUserMode.ts
  src/components/pageComponents/MyWordsContent.test.tsx
  src/components/pageComponents/MyWordsContent.tsx
  src/components/pageComponents/WelcomeContent.test.tsx
  src/components/pageComponents/WordListsContent.test.tsx
  src/components/pageComponents/WordListsContent.tsx
  src/components/review/Review.test.tsx
  src/components/review/Review.tsx
  src/components/review/types.ts
  src/testUtils/mockData.ts
  yarn.lock
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: exclude .claude worktree directories from jest test discovery
  jest.config.js
Due: eslint --fix, prettier --write

feat: enhance validation for wordId and improve error handling in addTestResults
  src/actions/actionResult.ts
  src/actions/addTestResults.test.ts
  src/actions/schemas.test.ts
  src/actions/schemas.ts
  src/components/pageComponents/HistoryContent.tsx
  src/components/review/Review.test.tsx
  src/components/review/Review.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: remove unused favicon.ico file
  src/app/favicon.ico
Due: none

fix: prevent horizontal/vertical overflow on desktop and iPad
  src/app/globals.css
  src/components/pageComponents/HistoryContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit
