Repository samtmorgan/word-byte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc-files --noEmit

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{ts,tsx}": "tsc-files --noEmit"
}

new words
  src/mockData/user.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

Merge branch 'connect-to-api'
  package-lock.json
  package.json
  src/app/Main.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/test/page.tsx
  src/components/Header.tsx
  src/context/AppContext.tsx
  src/types/types.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

tests: fix unit test
  __tests__/TestWordsPage.test.tsx
  __tests__/__utils__/mockData/mockData.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

Fix: bug in review words component
  README.md
  src/components/Review.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

Tests: update unit tests
  __tests__/ReviewWords.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

Chore: change favicon, remove redundant code
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Header.tsx
  src/constants/constants.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: remove tailwind refs
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: remove vercel icons
  public/next.svg
  public/vercel.svg
Due: none

chore: disable react/function-component-definition eslint rule
  .eslintrc.json
Due: none

chore: remove tailwind refs in globals.css
  src/app/globals.css
Due: none

Fix: css. Feat: add home page copy
  src/app/globals.css
  src/app/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

Refactor: Simplify header, add link to test from home page
  __tests__/Header.test.tsx
  src/app/globals.css
  src/app/page.tsx
  src/components/Header.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: test page structure
  src/app/test/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: amend header css
  src/app/globals.css
  src/components/Header.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: button css
  src/app/globals.css
  src/app/page.tsx
  src/components/Header.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: test page
  src/app/test/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: make home page server side
  src/app/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: link button, header location
  src/app/Main.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Button.tsx
  src/components/Header.tsx
  src/types/types.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add error component
  src/app/test/page.tsx
  src/components/Error.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

tests: fix tests. chore: remove commented code
  __tests__/TestWordsPage.test.tsx
  src/app/settingsWords/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

tests: fix tests
  __tests__/Main.test.tsx
  src/app/Main.test.tsx
  src/app/Main.tsx
  src/app/__snapshots__/Main.test.tsx.snap
Due: eslint --fix, prettier --write, tsc-files --noEmit

tests: move button tests
  __tests__/Button.test.tsx
  src/app/page.tsx
  src/app/settingsWords/page.tsx
  src/app/test/page.tsx
  src/components/Header.tsx
  src/components/button/Button.test.tsx
  src/components/button/Button.tsx
  src/components/button/index.ts
  src/components/index.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: clean up button code
  src/components/button/Button.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: moving files
  __tests__/test.test.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/settings/page.tsx
  src/app/settingsWords/page.test.tsx
  src/app/settingsWords/page.tsx
  src/app/test/page.test.tsx
  src/app/test/page.tsx
  src/components/Error.tsx
  src/components/Header.tsx
  src/components/LinkButton.tsx
  src/components/button/Button.test.tsx
  src/components/button/Button.tsx
  src/components/button/index.ts
  src/components/error/Error.tsx
  src/components/fireworks/Fireworks.tsx
  src/components/header/Header.test.tsx
  src/components/header/Header.tsx
  src/components/index.ts
  src/components/input/Input.tsx
  src/components/loader/Loader.tsx
  src/components/review/Review.test.tsx
  src/components/review/Review.tsx
  src/components/select/Select.tsx
  src/testUtils/mockData/mockData.ts
  src/testUtils/renderWithContext.tsx
  src/types/types.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: make Button component DRY
  src/components/button/Button.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

tests: add coverage thresholds, add coverage flag to 'test' script
  jest.config.js
  package.json
Due: eslint --fix, prettier --write

chore: update axios, remove "use client" directive
  package-lock.json
  package.json
  src/app/Main.tsx
  src/context/AppContext.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

test commit
  jest.config.js
Due: eslint --fix, prettier --write

Revert "test commit"
  jest.config.js
Due: eslint --fix, prettier --write

chore: add .env, add composeApiUrl util
  src/context/AppContext.tsx
  src/utils/api.test.ts
  src/utils/api.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: update copy
  src/app/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: add "use client directive"
  src/app/Main.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

chore: update roadmap
  README.md
Due: none

deps: add clerk auth
  package-lock.json
  package.json
Due: none

chore: migrate to yarn, fix lint config
  .eslintrc.json
  package-lock.json
  yarn.lock
Due: none
