Repository samtmorgan/word-byte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc-files --noEmit

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{ts,tsx}": "tsc-files --noEmit"
}

feat: rename 'Manual' to 'Custom' in WelcomeContent and WordListsContent for consistency
  src/components/pageComponents/WelcomeContent.test.tsx
  src/components/pageComponents/WelcomeContent.tsx
  src/components/pageComponents/WordListsContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: update action buttons in WordListsContent for improved user interaction and clarity
  src/components/pageComponents/WordListsContent.module.css
  src/components/pageComponents/WordListsContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

Add unit tests for various actions and components
  .github/workflows/ci.yml
  jest.config.js
  package.json
  src/actions/autoWordUtils.test.ts
  src/actions/createWordList.test.ts
  src/actions/deleteWordList.test.ts
  src/actions/getAutoWords.test.ts
  src/actions/promoteWordList.test.ts
  src/actions/updateAutoConfig.test.ts
  src/actions/updateAutoWordSet.test.ts
  src/actions/updateUserMode.test.ts
  src/components/dashboard/Dashboard.test.tsx
  src/components/navDrawer/NavDrawer.test.tsx
  src/components/pageComponents/WelcomeContent.test.tsx
  src/components/pageComponents/WordListsContent.test.tsx
  src/components/select/Select.test.tsx
  src/utils/speech.test.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: simplify build script in package.json by removing redundant ci-checks
  package.json
Due: none

fix: resolve critical and high dependency vulnerabilities
  package.json
  yarn.lock
Due: none

fix: add missing 'use client' directives for components using React hooks
  src/components/addWordForm/AddWordForm.tsx
  src/components/confetti/Confetti.tsx
  src/components/review/components/Complete.tsx
  src/components/review/components/InProgress.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: integrate Azure TTS SDK and implement speech synthesis API
  package.json
  src/app/api/tts/[word]/route.ts
  src/utils/speech.test.ts
  src/utils/speech.ts
  yarn.lock
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: update Claude workflow and add CLAUDE.md for guidance on usage and quality checks
  .github/workflows/claude.yml
  CLAUDE.md
Due: none

fix: add type declaration for CSS module imports
  index.d.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

Revert "refactor: replace date/words columns with word list type in History table"
  .lintstagedrc.cjs
  src/components/pageComponents/HistoryContent.module.css
  src/components/pageComponents/HistoryContent.test.tsx
  src/components/pageComponents/HistoryContent.tsx
  src/utils/buildTestHistory.test.ts
  src/utils/buildTestHistory.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: display date in dd/mm/yyyy format in HistoryContent; include index.d.ts in tsc-files lint check
  .lintstagedrc.cjs
  src/components/pageComponents/HistoryContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: include index.d.ts in tsc-files lint-staged check
  .lintstagedrc.cjs
Due: none

fix: correct date formatting in formatDate function for consistency
  src/app/globals.css
Due: none

fix: set minimum width for pageContainer on larger screens
  src/app/globals.css
Due: none

feat: add QA workflow documentation for testing procedures
  .claude/skills/qa/SKILL.md
  src/components/loader/Loader.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: configure Claude Code Action with valid v1 inputs and Husky setup
  .github/workflows/claude.yml
Due: none

fix: update button text for speaking action in TestWordsPageContent
  src/app/test/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add loader wrapper to TestWordsPageContent and update success message
  src/app/globals.css
  src/app/test/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: remove commented-out code in Home component
  src/app/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: implement cancel confirmation modal in TestWordsPage and update lifecycle states
  src/app/test/page.test.tsx
  src/app/test/page.tsx
  src/components/review/Review.tsx
  src/components/review/components/InProgress.module.css
  src/types/types.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: remove commented-out code in ContextType and UserWordType
  src/types/types.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: simplify practice start message in WelcomeContent
  src/components/pageComponents/WelcomeContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: enhance navigation buttons and improve accessibility in TestWordsPage
  src/app/test/page.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

skip tests
  src/components/pageComponents/WelcomeContent.test.tsx
  src/components/review/Review.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: extract NavRow component with SVG chevrons replacing emoji arrows
  src/app/test/page.tsx
  src/components/navRow/NavRow.test.tsx
  src/components/navRow/NavRow.tsx
  src/components/pageComponents/HistoryContent.tsx
  src/components/pageComponents/ProgressContent.tsx
  src/components/pageComponents/WordListsContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: unskip all 7 skipped tests by fixing root causes
  src/actions/getUser.test.ts
  src/actions/initUser.test.ts
  src/actions/updateUserWords.test.ts
  src/actions/updateUserWordsAndWordSets.test.ts
  src/app/test/page.tsx
  src/components/pageComponents/TestContent.tsx
  src/components/pageComponents/WelcomeContent.test.tsx
  src/components/review/Review.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

fix: wait for async speech to settle in TestContent test
  src/components/pageComponents/TestContent.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

refactor: simplify TestWordsPage and enhance error handling in auto mode
  src/app/test/page.test.tsx
  src/app/test/page.tsx
  src/components/pageComponents/TestContent.test.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: implement audio playback generation tracking and improve error handling
  src/utils/speech.test.ts
  src/utils/speech.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

style: update button styles for better alignment and replace chevrons with triangles in NavRow component
  src/app/globals.css
  src/components/navRow/NavRow.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

Add new favicon and apple touch icon assets; create site manifest
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  src/app/globals.css
  src/assets/about.txt
  src/components/header/Header.module.css
  src/components/header/Header.test.tsx
  src/components/header/Header.tsx
  src/components/pageTitle/PageTitleDisplay.module.css
  src/components/pageTitle/PageTitleDisplay.tsx
  src/components/pageTitle/PageTitleHeading.module.css
  src/components/pageTitle/PageTitleHeading.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

css: refine styles and layout
  src/app/Main.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/header/Header.module.css
  src/components/header/Header.tsx
  src/components/navDrawer/NavDrawer.module.css
  src/components/navDrawer/NavDrawer.tsx
  src/components/pageComponents/WelcomeContent.test.tsx
  src/components/pageComponents/WelcomeContent.tsx
  src/components/pageTitle/PageTitleHeading.module.css
  src/components/pageTitle/PageTitleHeading.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add modal overlay styles and integrate with Modal component
  src/app/globals.css
  src/components/modal/Modal.jsx
Due: eslint --fix, prettier --write

refactor: enhance breadcrumbs
  src/app/layout.tsx
  src/components/breadcrumbs/Breadcrumbs.module.css
  src/components/breadcrumbs/Breadcrumbs.tsx
  src/components/pageTitle/PageTitleHeading.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

style: enhance link hover and focus states in breadcrumbs
  src/components/breadcrumbs/Breadcrumbs.module.css
Due: none

feat: update user word handling and data versioning in addUserWord and initialiseUser functions
  src/actions/addUserWord.test.ts
  src/actions/addUserWord.ts
  src/actions/createUser.test.ts
  src/actions/initUser.test.ts
  src/actions/initUser.ts
  src/actions/types.ts
  src/testUtils/mockData.ts
Due: eslint --fix, prettier --write, tsc-files --noEmit

style: restructure header user section for improved layout
  src/components/header/Header.module.css
  src/components/header/Header.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

style: adjust overflow properties in HistoryContent and ProgressContent styles
  src/components/pageComponents/HistoryContent.module.css
  src/components/pageComponents/ProgressContent.module.css
Due: none

feat: replace word list with a table layout for better readability
  src/components/pageComponents/MyWordsContent.module.css
  src/components/pageComponents/MyWordsContent.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit

feat: add dynamic performance-based messaging to test results
  src/components/review/components/Complete.test.tsx
  src/components/review/components/Complete.tsx
Due: eslint --fix, prettier --write, tsc-files --noEmit
